<h1>Bienvenido al chat desarrollado por Dario Lopez Developer!</h1>

<div>
    <i id="username"></i>
    <input type="text" id="chatBox"> <!--chatBox sera la caja para poder escribir el mensaje-->
</div>

<div>
    <p id="messageLogs"></p> <!--messageLogs servira para ir colocando los mensajes que vayan llegando-->
</div>

<div>
        <i id="user"></i>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
