<h1>Register</h1>

<form action="/api/session/register" method="post">
  <label>First name:</label>
  <input type="text" name="first_name" />
  <label>Last name:</label>
  <input type="text" name="last_name" />
  <label>Age:</label>
  <input type="text" name="age" />
  <label>Email:</label>
  <input type="text" name="email" />
  <label>Password:</label>
  <input type="text" name="password" />
  <button type="submit">Registrarme</button>
</form>