<form id="form">
    <p>Chats</p>
    <input id = "txt" type="text">
    <button id="btn" type="submit">Enviar</button>
</form>

<div id="msn"></div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
